@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html,
body,
header,
#intro {
	height: 100%;
}


body { 

background: url(background-desktop.jpg);
    background-repeat: no-repeat;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;


 }

@media screen and (min-width: 100px) and (max-width: 480px){
	body{
		background: url(background-mobile.jpg);
		background-repeat: no-repeat;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		

   }}
   .intro{
    display:inline-flex;
    position: absolute;
    bottom: 0px;
   }


h1{
	font-weight: 200;
	margin: 0.4rem;
	font-size: 3.5rem;
	color:white;
	font-family:'Raleway';
}

p{
	font-family: 'Raleway';
	font-size: 1rem;
    position: center;
}
h3{ 
    text-align: center;

}

/*Cursor*/
.txt-type > .txt {
	border-right: 0.2rem solid white;
}
/*End Cursor*/

 .top-nav-collapse{
 	background-color: #563e91 !important;
 }
 .top-nav-collapse, .page-footer {
    background-color: #563e91 !important;
}
 .navbar:not(.top-nav-collapse) {
 	background: transparent;
 }

.Mila-picture-one{

width:100%;
height: auto;

}

.Mila-picture-three{
	width: 100%
	height:auto;
}


*::before,
*::after {
	box-sizing: border-box;
}

.container{
	max-width: 50rem;
	margin:0 auto;
	padding: 0 2rem 2rem;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}
.gallery-item{
	flex:1 0 24rem;
	margin:1rem;
	box-shadow:0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image{
	display: block;
	width:100%;
	height: auto;
	object-fit:cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

@supports (display: grid) {
	.gallery{
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(24rem, 1fr));	
        grid-gap: 2rem;}
      
      .gallery,
      .gallery-item{
      	margin: 0;
      }

    }
